<%= form_for(@estudante, html:{method: :put, class:'form-horizontal'}) do |f| %>
	<div class="modal fade" id="edit-endereco-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title"> Editar Endereço</h4>
				</div>
				<div class="modal-body>" style="margin-top: 23px;">
					<div class="form-group">
						<%= f.label :cep, :class=>'control-label col-sm-3 col-sm-offset-1' %>
							<div class="col-sm-6"><%= f.text_field :cep, :class=>'form-control'%></div>
					</div>
					<div class="form-group">
						<%= f.label :logradouro, :class=>'control-label col-sm-3 col-sm-offset-1' %>
							<div class="col-sm-6"><%= f.text_field :logradouro, :class=>'form-control'%></div>
					</div>
					<div class="form-group">
						<%= f.label :numero,"Número", :class=>'control-label col-sm-3 col-sm-offset-1' %>
							<div class="col-sm-6"><%= f.text_field :numero, :class=>'form-control'%></div>
					</div>
					<div class="form-group">
						<%= f.label :complemento, :class=>'control-label col-sm-3 col-sm-offset-1' %>
							<div class="col-sm-6"><%= f.text_field :complemento, :class=>'form-control'%></div>
					</div>
					<div class="form-group">
						<%= f.label :setor, :class=>'control-label col-sm-3 col-sm-offset-1' %>
							<div class="col-sm-6"><%= f.text_field :setor, :class=>'form-control'%></div>
					</div>
					<div class="form-group">
						<%= f.label :uf,"UF", :class=>'control-label col-sm-3 col-sm-offset-1' %>
						<div class="col-sm-6"><%= f.collection_select :uf, Estado.all, :id, :sigla, 
						{prompt:"Selecione UF" , include_blank: false}, {:class=>'form-control'}%></div>
					</div>
					<div class="form-group">
						<%= f.label :cidade_id, "Cidade", :class=>'control-label col-sm-3 col-sm-offset-1' %>
						<div class="col-sm-6"><%= f.collection_select :cidade_id, @estudante.estado ? @estudante.estado.cidades : [], :id, :nome,
						{prompt:"Selecione a cidade", include_blank: false}, {:class=>'form-control', :id=>"cidades-select"} %></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<%= f.submit 'Salvar', :class=>'btn btn-success'%>
				</div>
			</div>
		</div>
	</div>
<%end%>