<%= form_for(@estudante, html:{method: :put, class:'form-horizontal'}) do |f| %>
	<div class="modal fade" id="edit-dados-estudantis-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title"> Editar Dados Cadastrais</h4>
				</div>
				<div class="modal-body>" style="margin-top: 23px;">
					<div class="form-group">
						<%= f.label :instituicao_ensino, "Instituição de Ensino", :class=>'control-label col-sm-4 col-sm-offset-1' %>
							<div class="col-sm-6"><%= f.text_field :instituicao_ensino, :class=>'form-control'%></div>
					</div>
					<div class="form-group">
						<%= f.label :cidade_inst_ensino, "Cidade Inst. de Ensino", :class=>'control-label col-sm-4 col-sm-offset-1' %>
						<div class="col-sm-6"><%= f.text_field :cidade_inst_ensino, :class=>'form-control'%></div>
					</div>
					<div class="form-group">
						<%= f.label :uf_inst_ensino, "UF Inst. de Ensino", :class=>'control-label col-sm-4 col-sm-offset-1' %>
						<div class="col-sm-6"><%= f.text_field :uf_inst_ensino, :class=>'form-control'%></div>
					</div>
					<div class="form-group">
						<%= f.label :escolaridade, :class=>'control-label col-sm-4 col-sm-offset-1' %>
						<div class="col-sm-6"><%= f.select :escolaridade, options_for_select(Estudante.escolaridades), :class=>'form-control'%></div>
					</div>
					<div class="form-group">
						<%= f.label :curso_serie, "Curso/Série", :class=>'control-label col-sm-4 col-sm-offset-1' %>
							<div class="col-sm-6"><%= f.text_field :curso_serie, :class=>'form-control'%></div>
					</div>
					<div class="form-group">
						<%= f.label :matricula, "Matrícula", :class=>'control-label col-sm-4 col-sm-offset-1' %>
							<div class="col-sm-6"><%= f.text_field :matricula, :class=>'form-control'%></div>
					</div>
					<div class="form-group">
						<%= f.label :comprovante_matricula, "Comprovante Matrícula", :class=>'control-label col-sm-4 col-sm-offset-1' %>
							<div class="col-sm-6"><%= f.file_field :comprovante_matricula %></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<%= f.submit 'Salvar', :class=>'btn btn-success'%>
				</div>
			</div>
		</div>
	</div>
<%end%>