<%= form_for(@estudante, html:{method: :put, class:'form-vertical'}) do |f| %>
	<div class="modal fade" id="edit-endereco-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title"> Editar Dados Cadastrais</h4>
				</div>
				<div class="modal-body>" style="margin-top: 23px;">
					<div class="field form-group">
						<div class="col-md-3 form-text-modal"><%= f.label :cep %></div>
						<%= f.text_field :cep, :class=>'form-control', :style=>'width: 40%;' %>
					</div>
					<div class="field form-group">
						<div class="col-md-3 form-text-modal"><%= f.label :logradouro %></div>
						<%= f.text_field :logradouro, :class=>'form-control', :style=>'width: 40%;' %>
					</div>
					<div class="field form-group">
						<div class="col-md-3 form-text-modal"><%= f.label :numero %></div>
						<%= f.text_field :numero, :class=>'form-control', :style=>'width: 10%;' %>
					</div>
					<div class="field form-group">
						<div class="col-md-3 form-text-modal"><%= f.label :complemento %></div>
						<%= f.text_field :complemento, :class=>'form-control', :style=>'width: 40%;' %>
					</div>
					<div class="field form-group">
						<div class="col-md-3 form-text-modal"><%= f.label :setor %></div>
						<%= f.text_field :setor, :class=>'form-control', :style=>'width: 40%;' %>
					</div>
					<div class="field form-group">
						<div class="col-md-3 form-text-modal"><%= f.label "Cidade" %></div>
						<%= f.text_field :cidade, :class=>'form-control', :style=>'width: 40%;' %>
					</div>
					<div class="field form-group">
						<div class="col-md-3 form-text-modal"><%= f.label "UF" %></div>
						<%= f.text_field :uf, :class=>'form-control', :style=>'width: 40%;' %>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<%= f.submit 'Salvar', :class=>'btn btn-success'%>
				</div>
			</div>
		</div>
	</div>
<%end%>