	<div class="modal fade" id="edit-dados-cadastrais-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title"> Editar Dados Cadastrais</h4>
				</div>
				<%= form_for(@estudante, html:{method: :put, class:'form-horizontal', role: 'form', :multipart => true}) do |f| %>
				<div class="modal-body>" style="margin-top: 15px;">
						<div class="form-group">
							<%= f.label :nome, :class=>'control-label col-sm-3 col-sm-offset-1' %>
							<div class="col-sm-7"><%= f.text_field :nome, :class=>'form-control'%></div>
						</div>
						<div class="form-group">
							<%= f.label :email, :class=>'control-label col-sm-3 col-sm-offset-1' %>
							<div class="col-sm-7"><%= f.email_field :email, :class=>'form-control'%></div>
						</div>
						<div class="form-group">
							<%= f.label :data_nascimento, "Data Nascimento", :class=>'control-label col-sm-3 col-sm-offset-1' %>
							<div class="col-sm-7"><%= f.date_field :data_nascimento, :class=>'form-control'%></div>
						</div>
						<div class="form-group">
							<%= f.label :rg, "RG", :class=>'control-label col-sm-3 col-sm-offset-1'%>
							<div class="col-sm-7"><%= f.text_field :rg, :class=>'form-control'%></div>
						</div>
						<div class="form-group">
							<%= f.label :expedidor_rg, "Expedidor RG", :class=>'control-label col-sm-3 col-sm-offset-1'%>
							<div class="col-sm-7"><%= f.text_field :expedidor_rg, :class=>'form-control'%></div>
						</div>
						<div class="form-group">
							<%= f.label :uf_expedidor_rg, "UF Expedidor RG", :class=>'control-label col-sm-3 col-sm-offset-1'%>
							<div class="col-sm-7"><%= f.collection_select :uf_expedidor_rg, Estado.all, :sigla, :sigla, prompt: "Selecione UF", :class=>'form-control'%></div>
						</div>
						<div class="form-group">
							<%= f.label :cpf, "CPF", :class=>'control-label col-sm-3 col-sm-offset-1'%>
							<div class="col-sm-7"><%= f.text_field :cpf, :class=>'form-control'%></div>
						</div>
						<div class="field form-group">
							<%= f.label "Gênero", :class=>'control-label col-sm-3 col-sm-offset-1'%>
							<div class="col-sm-7">
								<%= f.radio_button :sexo, 'Masculino' %>Masculino </span>&nbsp;
								<%= f.radio_button :sexo, 'Feminino' %>Feminino </span>
							</div>
						</div>
						<div class="field form-group">
							<%= f.label :telefone, :class=>'control-label col-sm-3 col-sm-offset-1'%>
							<div class="col-sm-7"><%= f.text_field :telefone, :class=>'form-control'%></div>
						</div>
						<div class="field form-group">
							<%= f.label :celular, :class=>'control-label col-sm-3 col-sm-offset-1'%>
							<div class="col-sm-7"><%= f.text_field :celular, :class=>'form-control'%></div>
						</div>
						<div class="field form-group">
							<%= f.label :foto, :class=>'control-label col-sm-3 col-sm-offset-1'%>
							<div class="col-sm-7"><%= f.file_field :foto %></div>
						</div>
						<div class="field form-group">
							<%= f.label :xerox_rg, "Xerox RG", :class=>'control-label col-sm-3 col-sm-offset-1'%>
							<div class="col-sm-7"><%= f.file_field :xerox_rg %></div>
						</div>
						<div class="field form-group">
							<%= f.label :xerox_cpf, "Xerox CPF", :class=>'control-label col-sm-3 col-sm-offset-1'%>
							<div class="col-sm-7"><%= f.file_field :xerox_cpf %></div>
						</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<%= f.submit 'Salvar', :class=>'btn btn-success'%>
				</div>
				<%end%>
			</div>
		</div>
	</div>
