<div class="panel panel-primary">
	<div class="panel-heading">
					<span class="glyphicon glyphicon-user" style="color: #FFF"> </span>&nbsp;Dados Cadastrais 
					<%= link_to '',:class=>'btn btn-link pull-right', :style=>'margin-top: -7px;', 'data-toggle'=>'modal', "data-target"=>"#edit-dados-cadastrais-modal" do %>
						<span class="glyphicon glyphicon-pencil" style="color: #FFF"> </span>
					<%end%>
					<%= link_to '', :class=>'btn btn-link pull-right', :style=>'margin-top: -7px', 'data-toggle'=>'modal', "data-target"=>"#edit-password-modal" do %>
						<span class="glyphicon glyphicon-lock" style="color: #FFF"> </span>
					<%end%>
				</div>			
				<div class="panel-body" style="word-break: break-all;white-space: normal;">
					<table>
						<tr><td colspan="3"><strong>Nome:&nbsp;</strong><%= @estudante.nome %></td></tr>
						<tr><td colspan="3"><strong>E-mail:&nbsp; </strong><%=@estudante.email %> </td></tr>
						<tr><td colspan="3"><strong>Data Nascimento:&nbsp;</strong><%=@estudante.data_nascimento %> </td></tr>
						<tr>
							<td><strong>RG:&nbsp; </strong><%=@estudante.rg %></td>
								<td><strong>Expedidor:&nbsp; </strong><%=@estudante.expedidor_rg %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
								<td><strong>UF:&nbsp; </strong><%=@estudante.uf_expedidor_rg %> </td>
							</tr>
						<tr>
							<td><strong>CPF:&nbsp; </strong><%=@estudante.cpf %></td>
							<td colspan="2"><strong>Gênero:&nbsp; </strong><%= @estudante.sexo %></td> 
						</tr>
						<tr>
							<td><strong>Telefone:&nbsp; </strong><%=@estudante.telefone %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td colspan="2"><strong>Celular:&nbsp; </strong><%=@estudante.celular %> </td> 
						</tr>
						<tr>
							<td colspan="3"><strong>Foto:&nbsp; </strong><%= @estudante.foto_file_name.nil? ? '*' : @estudante.foto_file_name %> </td>
						</tr>
						<tr>
							<td colspan="3"><strong>Xerox RG:&nbsp; </strong><%= @estudante.xerox_rg_file_name.nil? ? '*' : @estudante.xerox_rg_file_name %> </td> 
						</tr>
						<tr>
							<td colspan="3"><strong>Xerox CPF:&nbsp; </strong><%= @estudante.xerox_cpf_file_name.nil? ? '*' : @estudante.xerox_cpf_file_name %> </td> 
						</tr>
					</table>
				</div>
				<div class="panel-heading">
					<span class="glyphicon glyphicon-education" style="color: #FFF"> </span>&nbsp;Dados Estudantis
					<%= link_to '',:class=>'btn btn-link pull-right', :style=>'margin-top: -7px;', 'data-toggle'=>'modal', "data-target"=>"#edit-dados-estudantis-modal" do %>
						<span class="glyphicon glyphicon-pencil" style="color: #FFF"> </span>
					<%end%>
				</div>
				<div class="panel-body" style="word-break: break-all;white-space: normal;">
					<table>
						<tr><td colspan="2"><strong>Entidade:&nbsp;</strong><%=@estudante.entidade ? @estudante.entidade.nome : ''%> </td></tr>
						<tr><td colspan="2"><strong>Instituição de Ensino:&nbsp;</strong><%=@estudante.instituicao_ensino.nome if @estudante.instituicao_ensino %> </td></tr>
						<tr><td colspan="2"><strong>Curso/Série:&nbsp; </strong><%=@estudante.curso.nome if @estudante.curso %> </td></tr>
						<tr><td><strong>Escolaridade:&nbsp; </strong><%=@estudante.escolaridade.nome if @estudante.escolaridade %> </td></tr>
						<tr><td><strong>Matrícula:&nbsp; </strong><%=@estudante.matricula %> </td></tr>
						<tr>
							<td colspan="2"><strong>Compr. Matrícula:&nbsp; </strong><%= @estudante.comprovante_matricula_file_name.nil? ? '*' : @estudante.comprovante_matricula_file_name %> 
							</td>
						</tr>
					</table>
				</div>
				<div class="panel-heading">
					<span class="glyphicon glyphicon-map-marker" style="color: #FFF"> </span>&nbsp;Endereço
					<%= link_to '',:class=>'btn btn-link pull-right', :style=>'margin-top: -7px;', 'data-toggle'=>'modal', "data-target"=>"#edit-endereco-modal" do %>
						<span class="glyphicon glyphicon-pencil" style="color: #FFF"> </span>
					<%end%>
				</div>
				<div class="panel-body" style="word-break: break-all;white-space: normal;">
					<table>
						<tr><td><strong>CEP:&nbsp; </strong><%=@estudante.cep %> </td> </tr>
						<tr>
							<td> <strong>Logradouro:&nbsp; </strong><%=@estudante.logradouro %></td> 
							<td><strong style="margin-left: 15px;">Nº: </strong><%=@estudante.numero %> </td>
						</tr>
						<tr><td><strong>Complemento:&nbsp; </strong><%=@estudante.complemento %> </td> </tr>
						<tr><td><strong>Setor:&nbsp; </strong><%=@estudante.setor %> </td> </tr>
						<tr>
							<td><strong>Cidade:&nbsp; </strong><%=@estudante.cidade_nome%> </td> 
							<td><strong style="margin-left: 15px;">UF: </strong><%=@estudante.estado_sigla %> </td>
						</tr>
					</table>
				</div>
			</div>