<div class="container">
	<h2 class="text-primary"> Meu Cadastro </h2>
	<hr>
	<div class="row">
		<%= helper_title current_estudante.atributos_nao_preenchidos %>
	</div>
	<div class="row">
		<div class="col-md-5">
			<%= render 'estudantes/show'%>
		</div>
		<div class="col-md-6 col-md-offset-1">
			<div class="panel-body" >
				<%= render template: 'carteirinhas/new'%>
			</div>
			<div class="">
				<%= render 'carteirinhas/historico', collection: @carteirinhas %>
			</div> 
		</div>
	</div>
</div>
<%= render 'edit_dados_cadastrais_modal' %>
<%= render 'edit_dados_estudantis_modal' %>
<%= render 'edit_endereco_modal'         %>
<%= render 'edit_password_modal'         %>
