	<%= form_for ([@estudante, @estudante.carteirinhas.build]) do |f| %>
	<div class="col-md-12">
		<div class="col-md-7">
			<%= image_tag(LayoutCarteirinha.anverso, :class=>'img img-responsive')%>
		</div>
		<div class="col-md-5">
			<div class="checkbox"><br>
				<p><strong>Valor: R$</strong><%= f.label :frete, Carteirinha.VALOR %> </p>
				<p><strong>Frete: R$</strong><%= f.label :frete, Carteirinha.FRETE %> </p>
				<label>
					<%= f.check_box :termos %> 
					<small style="font-size: 12px;"> Aceito os <a class="text-primary" href='#' >termos</a> </small>
				</label>
			</div>
			<div class="input-group" role="group">
				<span class="input-group-addon bg-success"><strong>Total R$</strong></span>
				<%= f.label :valor, Carteirinha.VALOR+Carteirinha.FRETE, :id=> 'carteirinha_valor', :size=>'3', :class=>'form-control' %>
				<span class="input-group-btn">
					<%= f.submit "Pagar Agora", :class=>'btn btn-success' %>
				</span>
			</div>
		</div>
		<div class="col-md-12" style="margin-top: 10px;">
			<p>Status da solicitação: <small style="float: right"> Código de Rastreio: </small></p>
			<div class="progress">
				<div class="progress-bar" role="progress-bar" style="width:25%; background-color: #f5f5f5;">Aguar. Pagamento</div>
				<div class="progress-bar" role="progress-bar" style="width:25%; background-color: #f5f5f5;">Verif. Documentação </div>
				<div class="progress-bar" role="progress-bar" style="width:25%; background-color: #f5f5f5;"> Enviado </div>
				<div class="progress-bar" role="progress-bar" style="width:25%; background-color: #f5f5f5;"> Entregue </div>
			</div>
		</div>
	</div>
	<%end%>
	