<h3 class="text-primary"> Carteira de Identifição Estudantil </h3>
	<%= form_for ([@estudante, @estudante.carteirinhas.build]) do |f| %>
	<div class="col-md-12">
		<div class="col-md-8">
			<%= image_tag Entidade.entidade_padrao.layout_anverso.url, :class=>'img img-responsive' if Entidade.entidade_padrao.layout_anverso %>
		</div>
		<div class="col-md-5">
			<div class="checkbox"><br>
				<p><strong>Valor:</strong>&nbsp;R$<%= @entidade.valor_carteirinha.to_f %> </p>
				<%= f.hidden_field :valor_carteirinha, :value => @entidade.valor_carteirinha.to_f %>
				<% if !@entidade.frete_carteirinha.blank? %>
					<p><strong>Frete:</strong>&nbsp;R$<%= @entidade.frete_carteirinha %> </p>
					<%= f.hidden_field :frete_carteirinha, :value => @entidade.frete_carteirinha %>
				<%end%>
				<label>
					<%= f.check_box :termos %> 
					<small style="font-size: 12px;"> Aceito os <a class="text-primary" href='#' >Termos de Serviço</a> </small>
				</label>
			</div>
			<div class="input-group" role="group">
				<span class="input-group-addon bg-success"><strong>Total R$</strong></span>
				<%= f.label :total, @entidade.valor_carteirinha.to_f+@entidade.frete_carteirinha.to_f, :id=> 'carteirinha_valor', 
							:size=>'4', :class=>'form-control' %>
				<span class="input-group-btn" id="pagar_agora">
					<%= f.submit "Pagar Agora", :class=>'btn btn-success' %>
				</span>
			</div>
		</div>
	</div>
	<%end%>
	